/JavaApplication2/nbproject/private/
/IdadeEmDias/nbproject/private/
/IdadeEmDias/build/
/MédiaDaNota/nbproject/private/
/MédiaDaNota/build/
/RealParaDolar/nbproject/private/
/RealParaDolar/build/
/AreaRetangulo/nbproject/private/
/AreaRetangulo/build/